/* #General
================================================== */
body{
	position: relative;
	.ie8 & {
		min-width: 980px;
	}
}

a {
	outline: none;
	&:focus {
		outline: none;
	}
}

.main-holder {
	position: relative;
	z-index: 1;
}