/* #Misc
================================================== */
/* Button */
.btn [class^="icon-"], 
.btn [class*=" icon-"] {
	background: none;
	margin-right: 0.25em;
}

/* Label */
.label [class^="icon-"], 
.label [class*=" icon-"] {
	background: none;
	margin-right: 0.25em;
}

/* Image styling */
.alignleft {
	float:left;
	margin:5px 20px 10px 0;
	}
.alignright {
	float:right;
	margin:5px 0 10px 20px;
	}
.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 10px;
	}
.alignnone {
	display: block;
	margin: 5px 10px 20px 0;
	.thumbnail & {
		margin: 0;
	}
}
a img.alignleft {
    float: left;
    margin: 5px 20px 10px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 10px 20px;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
a img.alignnone {
    margin: 5px 10px 20px 0;
}
article .post-content img {
	max-width:100%;
	}

/* Image caption */
.wp-caption-text {
	text-align: center;
}

/* Featured thumbnail */
.featured-thumbnail {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 5px 20px 10px 0;

	& a {
		position: relative;
		display: block;
	}
	// Small thumbnail
	&.small img {

	}
	// Large thumbnail
	&.large {
		overflow:hidden;
		margin-right:0;
		margin-bottom:1.5em;
		float: none;

		& img {
			width:100%;
			height:auto;
		}
	}
}

/* Frame styling */	
.frame {
	padding:7px;
	border:1px solid #dbdbdb;
	.border-radius(5px);
	background:#fff;
	text-align:center;
	}
.frame img.alignleft,
.frame img.alignright{
	margin:0;
	padding:0;
	border:none;
	}

.no-results {
	
}

/* List styling */
.list {

	& > ul {
		margin:0;
	}
	//Unstyled
	&.unstyled > ul li {
		margin:0 0 .5em 0;
		padding:0;
		border:none;
		background:none;
		list-style-type:none;

		&:before {
			display:none;
		}
	}

	//Styled
	&.styled > ul {
		margin:0 0 1em 0;

		& li {
			position:relative;
			margin:0 0 .5em 0;
			padding:0;
			border:none;
			background:none;
			list-style-type:none;
		}
	}

	& li {
		position:relative;

		&:before {
			display: inline-block;
			margin-right: 5px;
			width: 14px;
			height: 14px;
			content: attr(data-icon);
			font-family: 'FontAwesome';
			line-height: 14px;
			speak: none;
			.ie7-restore-right-whitespace();
		}
	}// List item
}//List
	
/* Check List */
.list.check-list > ul li:before {
	content: "\f00c";
	
}
/* Check2 List */
.list.check2-list > ul li:before {
	content: "\f078";
}		
/* Arrow List */
.list.arrow-list > ul li:before {
	content: "\f054";
}	
/* Arrow2 List */
.list.arrow2-list > ul li:before {
	content: "\f061";
}
/* Star List */
.list.star-list > ul li:before {
	content: "\f005";
}
/* Plus List */
.list.plus-list > ul li:before {
	content: "\f067";
}
/* Minus List */
.list.minus-list > ul li:before {
	content: "\f068";
}


/* Lightbox */
.lightbox {
	position:relative;
	display:block;
}

/* Title Box */
.title-box {
	margin-bottom: 1em;

	&_icon {
		float: left;
		margin: 0 20px 0 0;
	}

	&_primary {
		border: none;
		background: none;
		padding: 0;
		margin: 0;
	}
	&_secondary {
		border: none;
		background: none;
		padding: 0;
		margin: 0;
	}

}

/* Back to Top */
#back-top-wrapper {
	position:fixed;
	right:10px;
	bottom:10px;
	overflow:hidden;
	z-index: 99;
}
#back-top {
	display:none;
}

#back-top a {
	display: block;
	width: 50px;
	color: #bbb;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font: 11px/100% Arial, Helvetica, sans-serif;
	.transition(1s);
}
#back-top a:hover {
	color: #000;
}
#back-top a:hover span {
	background-color: @grayDark;
}

/* arrow icon (span tag) */
#back-top span {
	display: block;
	margin-bottom: 7px;
	width: 50px;
	height: 50px;
	background: @linkColor url(../images/up-arrow.png) no-repeat center center;
	.transition(1s);
}
/*// Back to Top */


/* Tabs */
.tabs-wrapper {
	margin-bottom:20px;
}
.nav-tabs > li {
	
}
.nav-tabs > li > a {
	
}
.tab-content {
	
}


/* Dropcap */
.dropcap {
	position:relative;
	display: block;
	float: left;
	overflow:hidden;
	margin: 0 20px 20px 0;
	width: 50px;
	height: 50px;
	background: #3A87AD;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 36px;
	line-height: 50px;
	.border-radius(5px);
}

/* Horizontal Rule */
.hr {
	overflow:hidden;
	margin:30px 0px;
	height:1px;
	background:#eee;
	font-size:0;
	line-height:0;
	}
.sm_hr {
  overflow: hidden;
  margin: 20px 0px;
  height: 1px;
  background: #eee;
  font-size: 0;
  line-height: 0;
}

/* Spacer */
.spacer {
	overflow:hidden;
	height:30px;
	font-size:0;
	line-height:0;
	}
	
/* Diviver */
.vertical-divider {
	margin-left:20px;
	padding-left:40px;
	border-left:1px solid #f5f5f5;
}

/* Text Highlight */
.text-highlight {
	padding: .25em .2em;
	background-color: #FFA;
	color: #666;
}

/* Code */
code.block {display: block;}
code.code-indent {
	display: block;
	margin: 20px 0;
}
code,
pre {
	margin-bottom: 20px;
}
	
			
/* Google Map */
.google-map {
	margin-bottom:20px;
	background-image:url(../images/loading-map.gif);
	background-position:50% 50%;
	background-repeat:no-repeat;
}


/*Form Elements */
input {
	outline: none;
	&:focus {
		outline: none;
	}
	&.btn {
		&:focus {
			outline: none;		
		}	
	}
}
input[type="submit"] {
	height: 28px;
	line-height: 1.2;
}

/* Contact form */
.wpcf7-form p.field {
	position:relative;
	overflow:hidden;
	margin-bottom: 15px;
	vertical-align:top;
	}
.wpcf7-form p.field input {
	margin: 0;
	height: 30px;
	width: 100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	}
	.wpcf7-form p.field small {
		color:red;
		}
.wpcf7-form .input-file {
	position:relative;
	display: block;
	overflow: hidden;
	width: 79px;
	height: 22px;
	background: url(../images/btn-choose-file.gif) 0 0 no-repeat;
	cursor: pointer;
	}
.wpcf7-form input[type="file"] {
	position: relative;
	width: auto;
	height: 100%;
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	cursor: pointer;
	-moz-opacity: 0;
	}
.wpcf7-form textarea {
	overflow:auto;
	width:100%;
	height:200px;
	margin: 0;
	.box-sizing(border-box);
	.resizable(none);
	}
.wpcf7-form .submit-wrap {
	margin:0;
	padding:0;
	}
	.wpcf7-form .submit-wrap input {
		margin-right: 10px;
	}
	span.wpcf7-form-control-wrap {
		display:block;
		}
	.wpcf7-not-valid-tip {
		position: absolute;
		top: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		padding: 4px 6px !important;
		width: auto !important;
		height: auto !important;
		background: #F2DEDE !important;
		border: 1px solid #EED3D7 !important;
		color: #B94A48 !important;
		.border-radius(2px);
		.box-sizing(border-box);
		}
	div.wpcf7-response-output {
		margin:20px 0 !important;
		padding: 8px 35px 8px 14px !important;
		border: 1px solid #FBEED5 !important;
		background-color: #FCF8E3;
		color: #C09853;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		.border-radius(4px);
	}
	div.wpcf7-validation-errors {
		background-color: #F2DEDE !important;
		border-color: #EED3D7 !important;
		color: #B94A48 !important;
	}
	div.wpcf7-mail-sent-ok {
		background: #DFF0D8 !important;
		border: 1px solid #D6E9C6 !important;
		color: #468847 !important;
	}
	/* Portrait tablet to landscape and desktop */
	@media (min-width: 768px) and (max-width: 979px) {
		.wpcf7-not-valid-tip  {
			font-size: 11px !important;
		}
	}
	
		
		
/* VIDEO */
.video-wrap {
	position: relative;
	overflow: hidden;
	margin-bottom: 1.5em;
	padding-top: 30px;
	padding-bottom: 56.25%;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.html5-video {
	padding-top: 0;
}

/* AUDIO */
.audio-wrap {
   margin-bottom:1.5em;
}

/* jPlayer
-------------------------------------------------------------- */
div.jp-audio, 
div.jp-video {
	position:relative;
	z-index:10;
	color:#a7a7a7;
	line-height:2.2em;
}
div.jp-video video {background-color:#000000;}
div.jp-audio {width:100%;}
div.jp-video.fullwidth, 
div.jp-video.fullwidth .jp-type-list-parent {
	position:relative;
	overflow:hidden;
	padding-bottom:56.25%;
	width:100%;
	height:0;
}
div.jp-video.fullwidth.playlist {
	padding-bottom:0;
	height:auto;
}
div.jp-video.fullwidth .jp-type-single, 
div.jp-video.fullwidth .jp-type-list {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
div.jp-video.fullwidth .jp-jplayer img, 
div.jp-video.fullwidth .jp-jplayer video,
div.jp-video.fullwidth .jp-jplayer object {
	position:absolute;
	top:0;
	left:0;
}
div.jp-video-full {
	position:static !important;
	position:relative;
	width:100%;
	height:100%;
}
div.jp-video-full div.jp-jplayer {
	position:fixed;
	top:0;
	left:0;
	z-index:9999999;
	overflow:hidden;
}
div.jp-video-full div.jp-gui {
	position:fixed;
	top:0;
	left:0;
	z-index:9999999;
	width:100%;
	height:100%;
}
div.jp-video-full div.jp-interface {
	position:absolute;
	bottom:0;
	left:0;
	z-index:1000;
}
div.jp-interface {
	position:relative;
	overflow:hidden;
	width:100%;
	height:35px;
	border-bottom:1px solid #020202;
	-webkit-transition:opacity .5s ease-in-out, margin .5s ease-in-out;
	-moz-transition:opacity .5s ease-in-out, margin .5s ease-in-out;
	-ms-transition:opacity .5s ease-in-out, margin .5s ease-in-out;
	-o-transition:opacity .5s ease-in-out, margin .5s ease-in-out;
	transition:opacity .5s ease-in-out, margin .5s ease-in-out;
	#gradient > .vertical(#575656, #313030);
}
div.jp-interface li {padding-left:0;}
div.jp-video div.jp-interface {
	margin:0;
	opacity:0;
	filter:alpha(opacity=0);
}
div.jp-video:hover div.jp-interface {
	margin:-36px 0 0;
	opacity:1;
	filter:alpha(opacity=100);
}
div.jp-controls-holder {
	position:absolute;
	top:7px;
	left:0;
	overflow:hidden;
	width:100%;
}
div.jp-interface ul.jp-controls {
	overflow:hidden;
	margin:0;
	padding: 0;
	list-style-type:none;
}
ul.jp-controls, 
div.jp-interface ul.jp-controls li {
	display:inline;
	float:left;
}
div.jp-interface ul.jp-controls a {
	display:block;
	overflow:hidden;
	padding-right:2px;
	background:url(../images/jp_spacer.png) 100% 1px no-repeat;
	text-indent:-9999px;
}
div.jp-interface ul.jp-controls a span {
	display:block;
	overflow:hidden;
	text-indent:-9999px;
}
a.jp-play span, 
a.jp-pause span {
	width:28px;
	height:28px;
}
a.jp-play span {background:url(../images/jp_sprite.png) 0 0 no-repeat;}
a.jp-play:hover span {background-position:-28px 0;}
a.jp-pause span {
	display:none;
	background:url(../images/jp_sprite.png) 0 -28px no-repeat;
}
a.jp-pause:hover span {background-position:-28px -28px;}
a.jp-stop span, 
a.jp-previous span, 
a.jp-next span {
	width:28px;
	height:28px;
}
a.jp-stop span {background:url(../images/jp_sprite.png) 0 -56px no-repeat;}
a.jp-stop:hover span {background-position:-28px -56px;}
a.jp-previous span {background: url(../images/jp_sprite.png) -56px -28px no-repeat;}
a.jp-previous:hover span {background-position:-84px -28px;}
a.jp-next span {background:url(../images/jp_sprite.png) -56px 0 no-repeat;}
a.jp-next:hover span {background-position:-84px 0;}
div.jp-progress {
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
	width:100%;
	height:7px;
	border-bottom:1px solid #605f60;
	background-color:#303030;
}
div.jp-seek-bar {
	width:0;
	height:100%;
	-webkit-box-shadow:inset 0 0 2px #464444;
	-moz-box-shadow:inset 0 0 2px #464444;
	box-shadow:inset 0 0 2px #464444;
	cursor:pointer;
}
div.jp-play-bar {
	width:0;
	height:100%;
	#gradient > .vertical(#cecece, #9d9d9d);
}
div.jp-seeking-bg {background:url(../images/jp_load.gif) 0 0 repeat-x;}
a.jp-mute, 
a.jp-unmute, 
a.jp-volume-max {position:relative;}
a.jp-mute, 
a.jp-unmute {margin:0 60px 0 0;}
a.jp-mute span {background:url(../images/jp_sprite.png) 0 -84px no-repeat;}
a.jp-mute:hover span {background-position:-28px -84px;}
a.jp-unmute span {
	display:none;
	background:url(../images/jp_sprite.png) 0 -112px no-repeat;
}
a.jp-unmute:hover span {background-position:-28px -112px;}
div.jp-volume-bar {
	position:absolute;
	top:10px;
	right:8px;
	z-index:2;
	overflow:hidden;
	width:50px;
	height:7px;
	background-color:#202020;
	cursor:pointer;
	.box-shadow(1px 1px 0 #464444);
	.border-radius(3px);
}
div.jp-audio div.jp-volume-bar {right:8px;}
div.jp-volume-bar-value {
	width:0;
	height:7px;
	.border-left-radius(3px);
	#gradient > .vertical(#848484, #646464);
}
div.jp-current-time, 
div.jp-time-sep, 
div.jp-duration {
	margin-top:6px;
	font-size:0.85em;
}
div.jp-current-time {
	display:inline;
	float:right;
	color:#ffffff;
}
div.jp-time-sep {
	display:inline;
	float:right;
	margin-right:5px;
	margin-left:5px;
	text-align:center;
}
div.jp-duration {
	display:inline;
	float:right;
	margin-right:130px;
	text-align:right;
}
div.jp-audio div.jp-duration {margin-right:100px;}
	/* Landscape phones and down */
	@media (max-width: 480px) {
		/* Landscape phones and down */
		@media (max-width: 480px) {
			div.jp-volume-bar,
			.jp-toggles,
			div.jp-duration {
				display: none !important;
			}
		}
	}
div.jp-title {
	color:#fff;
	text-align:center;
}
div.jp-title, 
div.jp-playlist {
	width:100%;
}
div.jp-type-single div.jp-title, 
div.jp-type-playlist div.jp-title, 
div.jp-type-single div.jp-playlist {border-top:none;}
div.jp-title ul, 
div.jp-playlist ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
div.jp-title li {
	padding:5px 0 0;
	font-weight:bold;
}
div.jp-video-full div.jp-title li {padding:1px 0;}
div.jp-playlist li {
	position: relative;
	background:#222;
	border-top:1px solid #6c6c6c;
	margin:0;
	padding:0;
	height:33px;
}
div.jp-playlist li:first-child {border:none;}
div.jp-playlist li a {
	display: block;
	padding:6px 25px;
	text-decoration:none;
}
div.jp-playlist li a.jp-playlist-current {background: url(../images/jp_playlist_li_cur.png) no-repeat scroll 10px center transparent;}
div.jp-playlist li a:hover, div.jp-playlist li.jp-playlist-current a {color: #8C8C8C;}
div.jp-playlist li div {display:inline;}
div.jp-playlist a.jp-playlist-item-remove {
	display:inline;
	float:right;
	margin-right:10px;
	color:#666666;
	text-align:right;
	font-weight:bold;
}
div.jp-playlist a.jp-playlist-item-remove:hover {color:#0d88c1;}
div.jp-playlist span.jp-free-media {
	display:inline;
	float:right;
	margin-right:10px;
	text-align:right;
}
div.jp-playlist span.jp-free-media a{color:#666666;}
div.jp-playlist span.jp-free-media a:hover{color:#0d88c1;}
span.jp-artist {
	color:#fefefe;
	font-size:.9em;
}
div.jp-video-play {
	background-color:rgba(0, 0, 0, 0);
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	cursor:pointer;
}
div.jp-video-full div.jp-video-play {
	z-index:1000;
	height:100%;
}
a.jp-video-play-icon {
	position:absolute;
	top:50%;
	left:50%;
	display:block;
	margin-top:-25px;
	margin-left:-40px;
	width:80px;
	height:50px;
	background:url(../images/jp_play.png) 0 0 no-repeat;
	text-indent:-9999px;
	opacity:0.7;
	-webkit-transition:opacity .5s ease-in-out;
	-moz-transition:opacity .5s ease-in-out;
	-ms-transition:opacity .5s ease-in-out;
	-o-transition:opacity .5s ease-in-out;
	transition:opacity .5s ease-in-out;
}
div.jp-video-play:hover a.jp-video-play-icon {
	opacity:1;
}
div.jp-jplayer audio, 
div.jp-jplayer {
	width:0;
	height:0;
}
div.jp-jplayer {background-color:#000000;}
ul.jp-toggles {
	z-index:1;
	float:right;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	list-style-type:none;
}
ul.jp-toggles li {
	display:block;
	float:left;
}
ul.jp-toggles li a {
	padding-left:2px;
	background:url(../images/jp_spacer.png) 0 1px no-repeat;
}
ul.jp-toggles li a, 
ul.jp-toggles li a span {
	display:block;
	width:28px;
	height:28px;
	text-indent:-9999px;
}
a.jp-full-screen span {background:url(../images/jp_sprite.png) -56px -56px no-repeat;}
a.jp-full-screen:hover span {background-position:-84px -56px;}
a.jp-restore-screen span {background:url(../images/jp_sprite.png) -56px -84px no-repeat;}
a.jp-restore-screen:hover span {background-position:-84px -84px;}
.jp-no-solution {
	position:absolute;
	top: 10px;
	left:50%;
	display:none;
	margin-left:-202px;
	padding:5px;
	width:390px;
	border:2px solid #009be3;
	background-color:#404040;
	color:#000000;
	font-size:.8em;
}
.jp-no-solution a {color:#000;}
.jp-no-solution span {
	display:block;
	text-align:center;
	font-weight:bold;
	font-size:1em;
}

.wrapper {
	overflow:hidden;
	position: relative;
	width:100%;
}
.extra-wrap {
	overflow:hidden;
}

	
/* Adding relative position for grid columns */
[class*="span"] {
	position:relative;
}
	
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


/* prettyPhoto styling for small screens */
@media (max-width: 480px) {
	.pp_pic_holder.pp_default { width: 100%!important; left: 0!important; overflow: hidden; }
	div.pp_default .pp_content_container .pp_left { padding-left: 0!important; }
	div.pp_default .pp_content_container .pp_right { padding-right: 0!important; }
	.pp_content { width: 100%!important; height: auto!important; }
	.pp_fade { width: 100%!important; height: 100%!important; }
	a.pp_expand, a.pp_contract, .pp_hoverContainer, .pp_gallery, .pp_top, .pp_bottom { display: none!important; }
	#pp_full_res img { width: 100%!important; height: auto!important; }
	.pp_details { width: 94%!important; padding-left: 3%; padding-right: 4%; padding-top: 10px; padding-bottom: 10px; background-color: #fff; margin-top: -2px!important; }
	a.pp_close { right: 10px!important; top: 10px!important; }
}