.section-footer-links {
  @extend .ptb-80;
  padding-bottom: 50px;
  .row {
    >div {
      >div {
        height: 100%;

      }
    }
  }
  .footer-logo {
    max-width: 220px;
    display: block;
    transform: translate(0,75%);

    img {
      width: 100%;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: $primary-special-weight;
    margin-bottom: 25px;
  }
  ul {
    li {
      margin-bottom: 10px;

      a {
        color: #757881;
        font-size: 15px;
      }
    }
  }
}
.section-copyright {
  padding: 35px;
  text-align: center;
  p {
    margin: 0;
    color: #bbbdc1;
    font-size: 15px;
    font-weight: 300;
  }
}

@include media-breakpoint-down(sm) {
  .section-footer-links {
    text-align: center;

    .footer-logo {
      transform: translateY(0);
      margin: 0 auto 30px;
    }
  }
}