.dropdown-item {
  white-space: normal;
}
ul {
  .dropdown-menu {
    a {
      position: relative;
      z-index: 9;
    }
  }
}
.navbar-toggler {
  @extend .hamburger;
  @extend .hamburger--collapse;
  display: flex;
  &:not(.collapsed) {
    @extend .is-active;
  }
}
.navbar-nav-menu {

  .nav-item {
    position: relative;
    &.before {
      &:before {
        display: none;
      }
    }
    &:before {
      position: absolute;
      content: '';
      width: 1px;
      height: 23px;
      background-color: #fff;
      top: 50%;
      transform: translate(0, -50%);
      right: 0;
      opacity: 0.34;
      transition: all 0.3s;

    }
    &:hover, &.active {
      &:before {
        width: 100%;
        height: 100%;
        background-color: #1b629d;
      }
    }

  }
  .nav-link {
    position: relative;
    text-align: center;
    z-index: 3;
  }
  .dropdown {
    .dropdown-menu {
      border-radius: 0;
      background-color: transparent;
      border: 0;
      margin: 0;

      li {
        background-color: #fff;
        &:first-child {
          border-top: 3px solid $blue;

          a {
            text-transform: capitalize;
            display: block;
          }
        }
        a {
          text-transform: capitalize;
          text-align: left;
          padding: 20px 15px;
          font-weight: 500;
          color: $primary-text-color;
        }
      }

      .dropdown {
        a {
          display: block;
        }
        .dropdown-menu {
          position: relative;
          padding: 0;

          li {
            &:first-child {
              border-top: 3px solid $orange;
            }
            &:last-child {
              border-bottom: 3px solid $orange;
            }
          }
        }
      }
    }
  }
}
.navbar-main {
  padding: 0;
  .navbar-nav {
    >.nav-item {
      &:nth-last-child(2), &:last-child {
        &:before {
          visibility: hidden;
        }
        &:hover {
          &:before {
            visibility: visible;
          }
        }
      }
      &.dropdown {
        .dropdown-menu {
          left: auto;
          right: 0;
        }
      }
    }
    .nav-item {
      &.btn {
        padding: 0;
        border-radius: 0;
        border: 0;
        &-warning {
          .nav-link {
            font-weight: 600;
          }
          &:hover {
            &:before {
              background-color: yellow;
            }
          }

        }
      }
      &:last-child {
        .nav-link {
          color: #5a473c;
        }
      }
    }
    .dropdown-menu {
      margin-top: auto;
      border-radius: 0;
      background-color: transparent;
      border: 0;
      min-width: 310px;

      li {
        background-color: #fff;
        &:first-child {
          border-top: 3px solid $blue;

          a {
            text-transform: capitalize;
            display: block;
          }
        }
        a {
          background-color: transparent;
          text-transform: capitalize;
          text-align: left;
          padding: 20px 15px;
          font-weight: 500;
          color: $primary-text-color;
        }
      }

      .dropdown {
        a {
          display: block;
        }
        .dropdown-menu {
          position: relative;
          padding: 0;

          li {
            &:first-child {
              border-top: 3px solid $orange;
            }
            &:last-child {
              border-bottom: 3px solid $orange;
            }

            a {

            }
          }
        }
      }
    }
    .nav-link {
      color: $secondary-text-color;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 500;
      padding: 18px 20px;
      min-width: 217px;
      min-height: 59px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      letter-spacing: 2px;
    }
  }
}
.navbar-submain {
  padding: 18px 16px;
  .navbar-brand {
    width: 250px;
    img {
      width: 100%;
    }
  }
  .navbar-nav {
    margin: 0 -25px 0 auto;
    >.nav-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 25px;
      font-size: 20px;

      span {
        font-size: 21px;
      }
      .nav-link {
        padding: .375rem .75rem;
        font-weight: 600;

        &.dropdown-toggle {
          &:after {
            margin-left: 15px;
            border-top: 6px solid;
            border-right: 6px solid transparent;
            border-bottom: 0;
            border-left: 6px solid transparent;
          }
        }
      }
      &:last-child {
        &:before {
          display: none;
        }
        .nav-link {
          @extend .btn;
          @extend .btn-outline-primary;
          font-weight: 600;
          text-transform: uppercase;
          padding: 12px 20px 12px 25px;
          font-size: 15px;
          letter-spacing: 1px;
        }
      }
    }
  }
  .dropdown-menu {
    width: 200px;
    right: auto;
    left: auto;
  }
}
@media (max-width: 1440px) {
  .navbar-main {
    .navbar-nav {
      >.nav-item {
        >.nav-link {
          min-width: 203.35px;
        }
      }
    }
  }
}
@media (max-width: 1366px) {
  .navbar-main {
    .navbar-nav {
      >.nav-item {
        >.nav-link {
          min-width: 192.79px;
        }
      }
    }
  }
}
@media (max-width: 1280px) {
  .navbar-main {
    .navbar-nav {
      >.nav-item {
        >.nav-link {
          min-width: 180.3px;
        }
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  .navbar-main,.navbar-submain {
    .navbar-nav-menu {
      .dropdown-menu {
        padding: 0;
        li {
          &:first-child {
            border-top: 0;
          }
          a {
            text-align: center;
          }
        }
      }
    }
  }
  .navbar-main {
    padding: 18px 24px;
    .nav-item {
      &:before {
        background-color: $blue;
      }
    }
    .navbar-toggler {
      margin-left: -15px;
    }
  }


  .navbar-submain {
    .container {
      justify-content: normal;
    }
    .navbar-toggler {
      display: none;
    }
    .navbar-brand {
      margin-right: auto;
    }
  }
  .location-link-mobile {
    margin: 0;

    >li {
      &:not(:last-child) {
        display: none;
      }
      a {
        border: 2px solid #fff;
        color: #fff;
        background-color: transparent;
      }
    }
    .dropdown-menu {
      width: 100%;

      li {
        &:first-child {
          margin-top: 5px;
          border-top: 3px solid #fdbc5f!important;
        }
        &:last-child {
          border-bottom: 3px solid #fdbc5f;
        }
      }
    }
  }

  .contact-number {
    li {
      display: inline-block;
      &:first-child {
        margin-right: 30px;
      }
      &:last-child {
        display: none;
      }
      a, span {
        display: block;
      }
      span {

      }
      a {
        padding: 0;
        font-size: 20px;
        font-weight: $primary-special-weight;
      }
    }
  }

}

@include media-breakpoint-down(xs) {
  .navbar-submain {
    .navbar-brand {
      flex: 0 1 70%;
      margin: 0 auto;
    }
    .contact-number {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}
@include media-breakpoint-up(xl) {
  .contact-number, .location-link-mobile {
    display: none;
    li {

    }
  }
  .navbar-nav-menu {
    >.dropdown {
      &:hover {
        >.dropdown-menu {
          display: block!important;
        }
      }
    }
  }
}
