.wpcf7-form-control-wrap, .wpcf7-form-control, .wpcf7-list-item {
  display: block;
}
.wpcf7-form-control-wrap {

}
.wpcf7-form-control {
  .wpcf7-list-item {
    display: block;
    @extend .custom-control;
    @extend .custom-checkbox;
    margin: 0;

    input {
      @extend .custom-control-input;
    }
    .wpcf7-list-item-label {
      @extend .custom-control-label;
      &:after, &:before {
        width: 13px;
        height: 13px;
        border-radius: 3px;
        border-color: #858585;
        top: 6px;
      }
    }
  }

  &.hear-about-us {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 14px;

    .wpcf7-list-item {
      &:nth-child(odd) {
        width: 300px;
      }
    }
  }
}
.wpcf7-submit {
  height: auto;
}
.section-form-contact {
  >div {
    >h2 {
      text-transform: uppercase;
      margin-bottom: 15px;
      font-size: 25px;
    }
    >p {
      line-height: 1.8;
    }
  }

  form {
    margin-top: 30px;

    h3 {
      color: $blue;
      margin-bottom: 20px;
      text-transform: capitalize;
      font-size: 20px;
      font-weight: $primary-special-weight;
    }
    label {
      font-weight: $primary-header-weight;
      font-size: 15px;
      text-transform: capitalize;
    }
    .custom-control-label {
      font-weight: 400;
      font-size: 16px;
    }
    .btn {
      text-transform: capitalize;
      font-size: 20px;
      border-radius: 5px;
      padding: 17px 33px;
      font-weight: 500;
    }
  }
  .form-action {
    display: flex;
    justify-content: space-between;
  }
  .btn-container {
    position: relative;
    .btn {
      padding: 21px 33px;
    }
    .ajax-loader {
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      right: -20px;
    }
  }
}

.bordered-box {
  border: 1px solid #ced4da;
  padding: 25px 25px 18px;
}
.block-gray {
  background-color: #f4f4f4;
  text-align: center;
  padding: 17px 20px;
  color: #7e8089;
  margin-bottom: 25px;
}
.section-with-map {
  padding-bottom: 60px;
}

.website-details {
  display: flex;
  margin: 0 -15px;
  >div {
    display: flex;
    padding: 0 15px;
  }
  .contact-details {
    >div {
      box-shadow: 0 2px 18px rgba(0,0,0,.06);
      min-width: 370px;
      max-width: 370px;
      padding: 30px;

      >div {
        border-bottom: 1px solid #ececec;
        margin-bottom: 20px;
        padding-bottom: 20px;
        &:last-child {
          border: 0;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }
    h3 {
      text-transform: uppercase;
      font-weight: $primary-special-weight;
      font-size: 14px;
      letter-spacing: 1px;
    }
    h4 {
      font-size: 16px;
      font-weight: $primary-special-weight;

      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }
    strong {
      font-weight: $primary-special-weight;
    }
    em {
      font-size: 13px;

    }
    ul {
      @extend .list-inline;
      margin-bottom: 0;
      li {
        @extend .list-inline-item;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.2;

        &:not(:last-child) {
          margin-right: 35px;
        }
        a {
          display: block;
          font-size: 20px
        }
      }
    }
    a, h4 {
      color: $blue;
    }
    p {

    }
  }
  .location-map {
    >div {
      display: flex;
    }
    img {
      max-width :100%;
    }
  }
}
.section-with-map {

}
@include media-breakpoint-down(lg) {
  .website-details {
    flex-direction: column-reverse;
  }
  .location-map {
    >div {
      width: 100%;
      margin: 0;

      &:first-child {
        margin-bottom: 20px;
      }
      iframe {
        width: 100%;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .location-map {
    >div {
      iframe {
        height: 400px;
      }
    }
  }
  .form-action {
    flex-direction: column;
    .wpcf7-form-control-wrap {
      margin-bottom: 20px;
    }
  }

}
@include media-breakpoint-down(xs) {
  .location-map {
    >div {
      iframe {
        height: 300px;
      }
    }

  }

  .website-details {
    .contact-details {
      div {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
      }
    }
  }
}
@media (max-width: 320px) {
  .website-details {
    .contact-details {
      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

}