.section-master-banner {
  background-color: $primary-bg-color;
}

.owl-carousel-master {
  .owl-item {
    >div {
      @extend .bg-img;
      min-height: 656px;
      text-align: center;
      padding: 6.2% 0 0;
    }
  }
  .owl-dots {
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translate(-50%,0);
    .owl-dot {
      &.active,&:hover {
        span {
          background-color: #fff;
        }
      }
      span {
        width: 14px;
        height: 14px;
        background-color: #5fc7fd;
        border: 1px solid #5fc7fd;
      }
    }
  }

  strong {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: $primary-special-weight;
    margin-bottom: 12px;
  }
  h1 {
    font-size: 68px;
  }
  span {
    font-size: 32px;
    font-weight: 300;
    display: block;
    margin-bottom: 50px
  }
  .owl-action {
    .btn {
      font-size: 19px;
      text-transform: capitalize;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 62px;
      margin: 0 9px;
      font-weight: 700;

      &:first-child {
        width: 263px;

      }
      &:last-child {
        width: 247px;
        font-weight: $primary-special-weight;
      }
    }
  }
}
.owl-footer {
  position: relative;
  z-index: 1;
  max-width: 1215px;
  min-height: 94px;
  margin: -47px auto 0;
  padding: 15px 30px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
    font-size: 20px;
  }
  a {
    font-weight: 700;
  }
  .btn {
    padding: 10px 49px;
    font-size: 20px;
  }
}
.section-what-we-do {
  padding: 85px 0;
  background-color: #f7f7f7;
  .content {
    max-width: 920px;
    text-align: center;
    margin: 0 auto;
    h2 {
      font-weight: 700;
      margin-bottom: 30px;
      text-transform: capitalize;
      font-size: 33px;
    }
    p {
      line-height: 1.9;
      margin-bottom: 45px;
    }
    .btn-link {
      font-weight: $primary-special-weight;
    }
  }
}
.section-after-what-we-do {
  @extend .primary-bg;
  position: relative;
  &:after {
    content: '';
    display: block;
    background-color: #fff;
    height: 68px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  >div {
    position: relative;
    z-index: 1;
  }
  .row{
    margin: 0 -20px;
    >div {
      padding: 0 20px;
      >div {
        @extend .bg-img;
        min-height: 388px;
        padding: 80px 15px 20px 277px;
        .btn {
          border-radius: 5px;
          font-weight: 600;
          font-size: 18px;
          padding: 11px 25px;
          margin-top: 30px
        }
      }
    }
  }
}
.section-our-services {
  padding: 80px 0;
  text-align: center;
  .row {
    margin: 55px -22px 0;

    >div {
      padding: 0 22px 50px;
      >div {
        padding: 0 9px;
      }
    }
  }
  span {
    display: inline-flex;
    margin: 0 auto 30px;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background-color: #fff4e5;
    align-items: center;
    justify-content: center;
  }
  .hvr-float-shadow {
    @extend .hvr-float-shadow:hover;
  }
  h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  p {
    line-height: 1.8;
  }
  a {
    &:hover {
      color: #faa224;
      text-decoration: none;
    }
  }
}
.section-good-reasons {
  @extend .ptb-80;
  background-color: #eff6fc;

  .row {
    margin: 50px -45px 0;
    >div {
      padding: 0 45px;
      &:last-child {
        >div {
          &:after {
            display: none;
          }
        }
      }
      >div {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: -45px;
          transform: translate(0,-50%);
          width: 1px;
          height: 175px;
          background-color: #e1e1e1;
        }
        span {
          display: block;
          margin-bottom: 20px;
        }
        p {
          color: #4c5160;
          line-height: 1.8;
          font-size: 15px;
        }
      }
    }
  }
}
.section-faq {
  @extend .ptb-80;
  background-color: #1f74ba;
  * {
    color: $white;

  }
  form {
    margin-top: 50px;
  }
  .form-group-select {
    margin-bottom: 6px;
    position: relative;

    &:after {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 20px;
      display: inline-block;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: 6px solid #b1cee7;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }
  }
  select {
    border-color: #6b9ecd;
    border-radius: 0;
    background-color: transparent;
    font-size: 17px;
    font-weight: $primary-special-weight;
    padding: 10px 30px;
    height: 69px;
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none;  /*Removes default style Firefox*/

    &:focus {
      color : $primary-text-color;

      option {
        color : $primary-text-color;
      }
    }
  }
}

.section-latest-news {
  @extend .ptb-80;
  background-color: #f4f4f4;
  .row {
    margin-top: 55px;
    margin-bottom: 35px;

    >div {
      >div {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: flex-start;
        padding-right: 25px;
      }
    }
  }
  .meta {
    text-transform: uppercase;
    font-weight: 500;
    color: #a0a1a7;
    font-size: 13px;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 15px;
  }
  h3 {
    text-transform: none;
    font-size: 20px;
    margin-bottom: 25px;
    min-height: 72px;
    font-weight: $primary-special-weight;
  }
  p {
    font-size: 15px;
    line-height: 1.5;
  }
  .btn {
    margin-top: auto;
    padding: 0;
    font-size: $primary-special-weight;
  }
}
.section-connect-with-us {
  position: relative;
/*  &:before, &:after {
    height: 50%;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  }
  &:before {
    background-color: #f4f4f4;
    top: 0;
  }
  &:after {
    bottom: 0;
    background-color: #fff;
  }*/
  margin-top: -47px;
  form {
    display: flex;
  }
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-right: 8px;
    label {
      margin-bottom: 0;
      display: inline-block;
      margin-right: 45px;
      font-size: 20px;
      font-weight: 400;
    }
  }
  p {
    margin: 0;
  }
  .content{
    position: relative;
    z-index: 1;
    max-width: 1215px;
    min-height: 94px;
    margin: 0 auto;
    background-color: #0b1530;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 35px 19px 40px;

    button {
      min-height: 56px;
      padding: 12px 20px;
      font-weight: 500;
    }
    input {
      min-height: 56px;
      &[type="email"]{
        min-width: 406px;
        max-width: 406px;
        background-color: #f2f4f5;
        padding: 10px 23px;
        &::placeholder {
          color: #999ca3;
        }
      }
    }
    ul {
      @extend .list-inline;
      margin: 0;
      li {
        @extend .list-inline-item;
        a {
          width: 39px;
          height: 39px;
          border-radius: 50%;
          background-color: #dfe2e5;
          color: #414242;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 19px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
.cf7-btn {
  position: relative;
  .ajax-loader {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translate(0, -50%);
    padding: 12px 20px;
    font-weight: $primary-special-weight;
  }
}
@media (max-width: 1366px) {
  .section-after-what-we-do,
  .section-our-services,
  .section-good-reasons {
    .row {
      margin-right: -15px;
      margin-left: -15px;
      >div {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
  .section-good-reasons {
    .row {
      >div{
        >div {
          padding-left: 25px;
          p {
            max-width: 244px;
          }
          &:after {
            right: -15px;
          }
        }
      }
    }
  }
  .section-latest-news {
    .row {
      >div {
        >div {

        }
      }
    }
    p {
      font-size: 16px;
    }
  }
}
@media (max-width: 1280px) {

}

@include media-breakpoint-down(lg) {
  .section-after-what-we-do {
    .row {
      >div {
        >div {
          padding: 60px 35px 35px 130px;
        }
      }
    }
  }
  .section-our-services {
    h3 {
      min-height: 52px;
    }
  }
  .section-latest-news {
    h3 {
      min-height: 48px;
    }
    .row {
      >div {
        margin-bottom: 50px;
      }
    }
  }
  .section-connect-with-us {
    .content {
      display: block;
      text-align: center;
      >div {
        margin-bottom: 20px;
      }

      form {
        justify-content: center;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .owl-carousel-master {
    .owl-item {
      >div {
        min-height: 490px;
      }
    }

    h1 {
      font-size: 50px;
    }
  }
  .section-after-what-we-do {
    .row {
      >div {
        &:first-child {
          margin-bottom: 35px;
        }

        >div {
          padding: 70px 35px 35px 300px;
        }
      }
    }
  }
  .section-good-reasons {
    .row {
      >div {
        &:nth-child(2) {
          margin-bottom: 30px;
          >div {
            &:after {
              display: none;
            }
          }
        }
        >div {

        }
      }
    }
  }
  .section-latest-news {
    h3 {
      min-height: auto;
    }
    .row {
      >div {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .section-connect-with-us {
    form {
      flex-direction: column;
      align-items: center;

    }
    input {
      text-align: center;
    }
    .form-group {
      flex-direction: column;
      margin: 0 0 15px;

      label {
        display: block;
        margin: 0 0 10px;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .owl-carousel-master {
    .owl-action {
      .btn {
        &:first-child, &:last-child {
          width: 239px;
        }
        &:first-child {
          margin-bottom: 20px;
        }
      }

    }
    .owl-item {
      >div {
        min-height: 525px;
      }
    }
  }
  .owl-footer {
    display: block;
    text-align: center;
    p {
      margin-bottom: 20px;
    }
  }
  .section-after-what-we-do {
    .row {
      >div {
        >div {
          padding: 70px 35px 35px 220px;
        }
      }
    }
  }
  .section-our-services {
    h3 {
      min-height: auto;
    }
  }
  .section-good-reasons {
    .row {
      >div {
        margin-bottom: 30px;
        >div {
          padding: 0;
          text-align: center;
          &:after {
            display: none;
          }
          p {
            margin-left: auto;
            margin-right: auto;
            max-width: 266px;
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(xs) {
  .owl-carousel-master {
    .owl-action {
      .btn {
        &:first-child, &:last-child {
          font-size: 16px;
          width: 220px;

        }
        &:first-child {

        }
      }

    }
    .owl-item {
      >div {
        min-height: 590px;
        padding-top: 40px;
      }
    }
  }
  .section-after-what-we-do {
    .row {
      >div {
        >div {
          padding: 70px 35px 35px 100px;
        }
      }
    }
  }
  .section-connect-with-us {
    input {
      min-width: 100%!important;
      max-width: 100%!important;
    }
    .cf7-btn {
       width: 100%;
    }
  }
}

@media (max-width: 320px) {
  .owl-carousel-master {
    .owl-item {
      >div {
        min-height: 640px;
      }
    }
  }
  .section-after-what-we-do {
    .row {
      >div {
        >div {
          padding: 35px;
          min-height: auto;
        }
      }
    }
  }
}