.section-subpage-banner {
  padding: 130px 0;
  min-height: 380px;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    max-width: 790px;
    margin: 0 auto;
    font-size: 60px;
  }
  p {
    font-size: 30px;
    font-weight: 300;
    margin-top: 20px;
  }
}
.section-with-sidebar {
  padding: 60px 0;

  .container {
    display: flex;
  }
}
.main {
  .wp-block-image {
    &:first-child {
      margin-bottom: 45px;
    }
    img {
      margin: 0;
    }
  }
  img {
    max-width: 100%;
  }
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  p {
    line-height: 1.9;
  }
  .accordion {
    margin-top: 35px;

    .card {
      border-radius: 0;
      border: 0;
      background: #fbfbfb;
      margin-bottom: 15px;

      &-header {
        border: 0;
        border-radius: 0;
        padding: 0;

        h2 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px 23px 20px 20px;
          color: #43331f;
          text-transform: capitalize;
          margin: 0;
          font-size: 24px;
          background-color: #fdba5b;
        }
        i {
          &:after {
            border-top: 6px solid #fee7c6;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
          }
        }
      }
      p {
        &.note {
          margin-bottom: 0;
        }
        &+ ul {
          margin-top: -15px;
        }
      }
      ul {
        padding-left: 20px;
        li {
          position: relative;
          margin-bottom: 4px;

          &:before {
            position: absolute;
            content: '\2022';
            top: 50%;
            transform: translate(0, -50%);
            font-size: 30px;
            left: -20px;
          }
        }
      }
      ol {
        padding-left: 15px;
        li {
          padding-left: 3px;
          margin-bottom: 7px;
        }
      }
      h3 {
        font-size: 20px;
        text-transform: uppercase;
      }
    }
  }
}
.sidebar {
  min-width: 370px;
  max-width: 370px;
  margin-left: 40px;

  >div {
    padding: 50px 40px;
    margin-bottom: 35px;
    &.blue-image {
      @extend .bg-img;
      background: $blue no-repeat 100% 90%/cover;
      position: relative;
      padding: 50px 40px;

      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(31,116,186,1)), color-stop(33%, rgba(31,116,186,1)), color-stop(100%, rgba(31,116,186,0.7)), color-stop(100%, rgba(31,116,186,0.7))); /* safari4+,chrome */
        background: linear-gradient(89deg, rgba(31,116,186,1) 0%, rgba(31,116,186,1) 33%, rgba(31,116,186,0.7) 100%, rgba(31,116,186,0.7) 100%); /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f74ba', endColorstr='#1f74ba',GradientType=1 ); /* ie6-9 */
      }
      * {
        position: relative;
        z-index: 2;
        color: $secondary-text-color;
      }
      p {
        font-weight: 300;
      }
      .btn {
        color: #fff;
        text-transform: capitalize;
      }
    }
    &:not(:first-child) {
      box-shadow: 0 2px 18px rgba(0,0,0,.06);
    }
    h2 {
      font-size: 32px;
    }
    .btn {
      display: block;
      padding: 12px 20px;
      font-weight: 500;
      margin-top: 24px;
      font-size: 19px;

    }

    ul {
      margin: 0 -20px;
      li {
        margin-bottom: 0;

        &:hover, &.active {
          a {
            background: #f3f7fb;
            color: #1f74b9;
            text-decoration: none;
          }
        }
        a {
          display: block;
          color: $primary-text-color;
          padding: 10px 20px;


        }
      }
    }
  }
}
.bg-blend-primary {
  position: relative;
  * {
    color: $secondary-text-color;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $secondary-bg-color;
    opacity: .6;
  }
  .container {
    position: relative;
    z-index: 1;
  }
}

.section-breadcrumbs {
  background-color: #f7f7f7;
  padding: 20px 0;
  * {
    font-size: 18px;
  }
  .breadcrumb {
    padding: 0;
    margin: 0;
    background: none;
  }
  a {
    color: #5f5f5f;
    margin-right: 8px;
    display: inline-block;
  }
  span {
    &.separator {
      color: #5f5f5f;
      margin-right: 8px;
    }
    &.current {
      color : $blue;
    }
  }
}
.section-stop-avoiding-anxiety {
  padding: 49px 0;
  height: 205px;
  background-size: 57%;
  background-position: top left;

  &:before {
    opacity: 0.9;
  }
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    h2 {
      margin-right: auto;
      font-size: 40px;
      text-transform: capitalize;
    }
    .btn {
      padding: 17px 25px;
      font-weight: 600;
      font-size: 19px;
      text-transform: capitalize;


      &:first-of-type {
        margin-right: 22px;
        color: #433737;
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  .section-stop-avoiding-anxiety {
    .container {
      h2 {
        font-size: 30px;
      }
      .btn {
        font-size: 16px;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .section-with-sidebar {
    .container {
      display: block;
    }
  }
  .sidebar {
    margin: 20px 0 0;
  }
  .section-stop-avoiding-anxiety {
    height: auto;
    h2 {
      margin-bottom: 20px;
    }
    .container {
      display: block;
      text-align: center;
      .btn {
        &:first-child,&:last-child {
          padding: 15px 12px;
        }

      }
    }
  }
}
@include media-breakpoint-down(sm) {

}
@include media-breakpoint-down(xs) {

  .section-subpage-banner {
    padding: 88px 0;
    min-height: auto;
    h1 {
      font-size: 40px;
    }
  }
  .sidebar {
    min-width: 100%;
    max-width: 100%;
  }
  .section-stop-avoiding-anxiety {
    .container {
      .btn {
        &:first-child,&:last-child {
          margin: 0;
          width: 206px;
        }
        &:first-child{
          margin-bottom: 20px;
        }
      }
    }
  }
}