/*--
	Theme Name: theme2043
	Theme URI: http://template-help.com/
	Description: A theme for Wordpress 3.5.x + from Template-Help.com Collection
	Author: Template_Help.com
	Author URL: http://www.Template-Help.com/
	Template: CherryFramework
	Version: 1.0
	MotoPress Version: 1
--*/

@import url("../CherryFramework/style.css");

@customGrayDark: #3e464c;
@customGray: #8b969e;
@customGrayLight: #e0e4e7;

::selection {background: @customGray; color: @white;}
::-moz-selection {background: @customGray; color: @white;}
img::selection {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: @customGray;}

/* #General
================================================== */
body {
    padding: 0 !important;
}
.main-holder {
    background-color: @customGrayLight;
}

h1,
h2,
h3,
h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
}

h1 {letter-spacing: 3px;}
h2 {margin-bottom: 20px;}

/* #Header
================================================== */

.header {
    border: none;
    background: none;
    padding: 42px 0 41px 0;
    border-bottom: 2px solid #ced2d6;
    z-index: 99;
    
    .home & {
        border-bottom: none;
    }
    
    .textwidget {
        @media (max-width: 767px) {
            text-align: center;
        }
    }
    
    @media (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* #Navigation
---------------------------------------- */

.nav__primary {
    margin-bottom: 0;
    
    @media (min-width: 768px) and (max-width: 979px) {
        padding-top: 37px;
    }
}

/* Essential styles for dropdown menu */
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    top: 100%; /* match top ul list item height */
    left: -42px;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
    top: 0;
    left: 0;
    position: relative;
}

/* Our skin for dropdown menu */
.sf-menu {
    float: none;
    text-align: center;
    padding-top: 37px;
}
.sf-menu a {
    text-transform: uppercase;
}
.sf-menu > li {
    background:	none;   
    text-align: left;
    float: none;
    display: inline-block;
    margin: 0 40px;
    
    @media (min-width: 1200px) {
        margin: 0 60px;
    }
    
    @media (min-width: 768px) and (max-width: 979px) {
        margin: 0 30px;
    }
    
    .ie8 & {
        margin: 0 45px;
    }
}
.sf-menu > li > a {
    padding: 0;
    border: none;
    color: #3e464c;
    letter-spacing: 2px;
}
.sf-menu li ul {
    background-color: #dadfe2;
    width: 233px;
    padding: 27px 0 37px 0;
    
    .home & {
        background-color: @customGrayLight;
    }
}
.sf-menu li li {
    background: none;
    font-weight: bold;
    font-family: @serifFontFamily;
}
.sf-menu li li a {
    padding: 5px 42px 6px;
    border: none;
    color: #3e464c;
    font-size: 12px;
    letter-spacing: 2px;
}
.sf-menu li li ul {
    padding: 0;
}
.sf-menu li li li a {
    padding-left: 64px;
    padding-right: 64px;
}
.sf-menu > li > a:hover, 
.sf-menu > li.sfHover> a,
.sf-menu > li.current-menu-item > a {
    background:	none;
    color: @customGray;
}
.sf-menu li li > a:hover, 
.sf-menu li li.sfHover > a,
.sf-menu li li.current-menu-item > a {
    background:	#3e464c;
    color: @customGrayLight;
}
.sf-menu li li li > a:hover, 
.sf-menu li li li.sfHover > a,
.sf-menu li li li.current-menu-item > a {
    background:	#ced3d6;
    color: @customGrayDark;
}

/*** arrows **/
.sf-sub-indicator {
	position: absolute;
	top: 1.05em; /* IE6 only */
	right: .75em;
	display: block;
	overflow: hidden;
	width: 8px;
	height:	7px;
	background:	url(images/nav-arrow.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
	text-indent: -999em;
}
a > .sf-sub-indicator {
    top: 5px;
    background-position: 0 -7px;
}
/* point right for anchors in subs */
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0 !important; top: 10px; }
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
    background-position: 0 0; /* arrow hovers for modern browsers*/
}

/* Navigation select styling */
.select-menu {
    border: 1px solid #8b969e;
    background-color: #d2d7da;
    color: #3e464c;
    .border-radius(0px);
}

/* Search Form
---------------------------------------- */
.search-form {
    
    &__h {
        padding-top: 37px;
        
        .navbar-form {
            float: none;
        }
    }
	
    &_it {
        vertical-align: top;
        
        .header & {
            width: 185px;
            
            .ie8 & {
                width: 153px;
            }
        }
    }

}
/* /Search Form */

/*/ Header */


/* Logo
---------------------------------------- */
.logo {
    text-align: center;
    
    @media (min-width: 768px) and (max-width: 979px) {
        width: 100%;
    }
    
    &_h {
        &__txt {
            text-transform: lowercase;
        }
    }
    
    &_tagline {
        color: @customGray;
        font-size: 13px;
        font-weight: bold;
        font-family: @serifFontFamily;
        letter-spacing: 2px;
    }
}
/*/ Logo */


/* Slider
================================================== */
.slider {
    background: #ced3d6 url(images/caption-tail.png) repeat-x 0 100%;
    border-bottom: 1px solid @white;
    
    @media (max-width: 480px) {background-image: none;}
}
.camera_wrap {
    margin-bottom: 0 !important;
    
    .camera_target_content {
        .cameraContents {
            background: url(images/caption-tail.png) repeat-x 0 100%;
            min-height: 156px;
            
            @media (max-width: 480px) {background: none;}
            
            .camera_caption > div {
                background: none;
                line-height: 96px;
                height: 96px;
                padding: 0;
                text-align: center;
                
                @media (max-width: 480px) {display: none;}
                
                h2 {
                    font-size: 18px;
                    font-weight: bold;
                    font-family: @serifFontFamily;
                    line-height: 24px;
                    vertical-align: middle;
                    display: inline-block;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    margin: -4px 0 0 0;
                }
                
                a {
                    position: absolute;
                    left: 50%;
                    top: -53px;
                    margin-left: -53px;
                    font-weight: bold;
                    font-family: @serifFontFamily;
                    color: @customGray;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    width: 106px;
                    height: 37px;
                    background: url(images/link-bg.png) no-repeat 0 0;
                    vertical-align: top;
                    line-height: 16px;
                    padding-top: 16px;
                    letter-spacing: 2px;
                    
                    &:hover {
                        color: @white;
                    }
                }
            }
        }    
    }
}

.camera_pag {
    margin-top: -43px;
}

.camera_prev,
.camera_next {
    top: auto;
    bottom: 31px;
    margin: 0;
    background: none;
    width: 34px;
    height: 34px;
    
    @media (max-width: 480px) {display: none;}
    
    span {
        width: 34px;
        height: 34px;
        background: none;
        background-color: #5c656c;
        background-repeat: no-repeat;
        background-image: url(images/camera-arrows.gif);
        .border-radius(34px);
        
        &:hover {
            background-color: #d3d8db;
        }
    }
}
.camera_prev {
    span {
        background-position: 11px 9px;
    }
}
.camera_next {
    span {
        background-position: -23px 9px;
    }
}

/*/ Slider */


/* #Content
================================================== */
#content {
    padding-top: 0;
}
.content-holder {
    padding: 36px 0 50px 0;
    overflow: hidden;
    
    .home & {
        padding-bottom: 0;
    }
    
    @media (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* 404 Error Page
---------------------------------------- */
.error404-holder {
	&_num {
		color:@linkColor;
	}//404 number
}//404 holder

/* Title
---------------------------------------- */
.title-section {
	padding: 0;
}
	.title-header {
		overflow: hidden;
		margin-bottom: 1em;
                font-size: 24px;
                color: @customGrayDark;
                letter-spacing: 2px;
	}
	.title-desc {
		display: block;
		color: #999;
		font-size: 11px;
	}

/* Breadcrumb
---------------------------------------- */
.breadcrumb__t {
	margin: 0 0 40px 0;
        padding: 10px 11px 11px;
        background: #ced2d6;
        .border-radius(0px);
        text-transform: uppercase;
	& li {
            font-size: 13px;
            text-shadow: none;
	}
	& .active {
            color: #4687b8;
	}
	& .divider {
            color: #85929c;
            margin: 0 4px;
	}
		& li a {
                    color: #85929c; 
		}
}
/* /Breadcrumb */

/* #Post
================================================== */
.post {

	&__holder {
		position:relative;
		overflow:hidden;
		margin-bottom:35px;
                
                .single-post & {
                    margin-bottom: 0;
                }
	}//post__holder
	
	.sticky {
		position: relative;
		z-index: 9;
	}//sticky post
	
	&_header {

	}
	&-title {
            font-size: 16px;
            margin-bottom: 17px;
            
            a {
                &:hover {
                    color: #85929c;
                    text-decoration: none;
                }
            }
	}
	.featured-thumbnail {
		@media (max-width: 480px) {
			width: 120px;
		}
	}
	.featured-thumbnail.large {
		@media (max-width: 480px) {
			width: auto;
		}
	}
	&_content {
		margin-bottom: 10px;
		& .excerpt,
		& .full-post-content {
			margin-bottom:.9em;
                        padding-top: 7px;
		}
	}//post_content

	&_footer {
		clear:both;
		padding:15px 0 0 0;
	}//post_footer

	&_meta {
		overflow:hidden;
		margin-bottom:1em;
		padding: 8px 0 9px !important;
		width:100%;
		border-top:1px solid #cad2d7;
		border-bottom:1px solid #cad2d7;
		font-size:11px;
                font-weight: bold;
                font-family: @serifFontFamily;
                text-transform: uppercase;
                letter-spacing: 1px;
                
                a {
                    color: @blue;
                }

		& span {
			display: inline-block;
			line-height: 20px;
			padding-right: 11px;
		}
		& .post_permalink {
			float: right;
			padding-right: 0;
                        
                        @media (max-width: 767px) {
                            float: none;
                        } 
		}
		& i {
			font-size: 16px;
			margin-right: 5px;
			color: @grayLight;
                        
                        &:before {
                            position: relative;
                            top: 1px;
                            content: "";
                            background-repeat: no-repeat;
                            background-position: 0 0;
                        }
                        
                        &.icon-bookmark {
                            &:before {
                                width: 9px;
                                height: 13px;
                                background-image: url(images/icon-bookmark.png);
                                top: 3px;
                            }
                        }
                        
                        &.icon-calendar {
                            &:before {
                                width: 13px;
                                height: 12px;
                                background-image: url(images/icon-calendar.png);
                            }
                        }
                        
                        &.icon-user {
                            &:before {
                                width: 12px;
                                height: 12px;
                                background-image: url(images/icon-user.png);
                            }
                        }
                        
                        &.icon-comments {
                            &:before {
                                width: 18px;
                                height: 12px;
                                background-image: url(images/icon-comments.png);
                            }
                        }
                        
                        &.icon-link {
                            &:before {
                                width: 17px;
                                height: 13px;
                                background-image: url(images/icon-link.png);
                                top: 2px;
                            }
                        }
		}
		& .pull-right {
			padding-right: 0;
			padding-left: 15px;

		}


	}//post_meta
        
    &.format-image {
        .thumbnail {
            a:before {
                display: none;
            }
        }
        
        .post-thumb {
            margin-bottom: 10px;
        }
    }
    
    &.format-quote {
        blockquote {
            color: @customGrayDark;
            font-style: italic;
            font-family: @serifFontFamily;
            font-size: 18px;
            line-height: 20px;
            padding: 0 0 0 39px;
            border: none;
        }
    }
}

/* Author Page
---------------------------------------- */
.post-author {
	margin-bottom:5.1em;
	padding:5px 20px 8px 19px;
        background-color: @white;
	border:1px solid #ced2d6;

	&__page {
            padding-bottom: 25px;
	}

	&_h {
            margin-bottom: 11px;
	}
	&_link {
		margin-top:1.5em;
                
                a {
                    font-style: italic;
                    text-transform: capitalize;
                    color: @blue;
                }
	}
	&_gravatar {
		float: left;
		margin:5px 20px 0 0;
		& img {
			padding:0px;
			border:none;
			background:none;
		}
	}
	&_desc {

	}
}

/* Recent author posts */
#recent-author-posts {
	margin-bottom:3em;
}

#recent-author-posts,
#recent-author-comments {
    h3 {
        font-size: 24px;
        margin-bottom: 25px;
    }	
}
#recent-author-comments {
    padding-top: 20px;
}

/* Related Posts */
.related-posts {
	overflow:hidden;
	margin:0 0 2em;
	padding:0;

	&_h {
            font-size: 24px;
            margin-bottom: 26px;
	}
	&_list {
		padding: 0;
		margin: 0 0 0 -4%;
		font-size: 0;
	}
		&_item {
			display: inline-block;
			width: 21%;
			margin-left: 4%;
			margin-bottom: 20px;
			padding: 0;
			list-style-type:none;
			overflow: hidden;
			vertical-align: top;
			font-size: 12px;
                        
                        h6 {
                            a {
                                color: @blue;
                            }
                        }
		}
		&_item:first-child {
			//margin-left:0;
		}
		.featured-thumbnail {
			float:none;
			overflow:hidden;
			margin:0 0 10px 0;
		}

	/* Landscape phones and down */
	@media (max-width: 480px) {
		&_item {
			width: 46%;
		}
	}

}
/*/ Related Posts */

/* Flexslider for Portfolio Slideshow Item and Gallery Post Format */
.gallery-post {
    padding-bottom: 16px;
}
.flexslider {
    background-color: @white;
    margin-bottom: 30px;
    
    .type-portfolio & {
        margin-bottom: 50px;
    }
}
.flex-control-paging {
    bottom: -32px;
    height: 12px;
    li {
        margin: 0 3px 0 0;
        a {
            width: 12px;
            height: 12px;
            .border-radius(12px);
            background-color: #ced2d6;
            
            &:hover,
            &.flex-active {
                background-color: @blue;
            }
        }
    }
}

/* Posts navigation
---------------------------------------- */
.pagination__posts {
	margin: 0;
	text-align: center;
        
        @media (max-width: 767px) {
            margin-bottom: 25px;
        }

	& ul {
            .border-radius(0px);
		& li {
			& a {
                            border-color: #cad2d7;
                            background: @white;
                            .border-radius(0px) !important;
                            
                            
                            &:hover {
                                background: #e0e4e7;
                                color: #85929c;
                            }
			}
		}
		& .active {
			& a {   
                            background: #e0e4e7;
                            color: #85929c;
			}
                }
	}	
}
/* /Posts navigation */

/* Testimonials Page
---------------------------------------- */
.testimonial {
    background: @white;
    border: 1px solid #ced2d6;
}

/* Single Team Page
---------------------------------------- */
.team-holder {
	.page-header {
            border-color: #cad2d7;
        }
}

/* Filterable Portfolio
---------------------------------------- */
.filter-wrapper {
    margin-bottom: 15px;
	strong {
		display: inline-block;
		padding: 0;
		margin-right: -7px;
		float: left;
                color: @customGrayDark;
                font-size: 11px;
                font-family: @serifFontFamily;
                font-weight: normal;
                text-transform: uppercase;
                
                @media (max-width: 480px) {
                    padding-top: 5px;
                }
	}
	.nav {
		overflow: hidden;
	}
        
        .pull-right {
            @media (max-width: 767px) {
                float: none;
            }
        }
}
.nav-pills {
	float: left;
	@media (max-width: 480px) {
		float: none;
	}
	li {
            
            margin-left: 16px;
            
		@media (max-width: 480px) {
			float: none;
		}
		a {
                    
                        padding: 0;
                        background: none;
                        .border-radius(0px);
                        color: @customGrayDark;
                        font-size: 11px;
                        font-family: @serifFontFamily;
                        text-transform: uppercase;
                        text-decoration: underline !important;
                    
			@media (max-width: 480px) {
				display: block;
				padding: 5px;
			}
                        
                        &:hover {
                            background: none;
                            color: #85929c;
                        }
		}
                
                &.active {
                    a {
                        background: none !important;
                        color: #85929c !important;
                    }
                }
	}
}

.filterable-portfolio {
	position:relative;
	visibility:hidden;
	overflow:hidden;
	margin:0 -10px;

	.portfolio_item {
            .thumbnail {
                a {
                    &:before {
                        display: none;
                    }
                }
            }
            
            h3 {
                font-style: italic;
                font-size: @baseFontSize;
                font-weight: normal;
                font-family: @baseFontFamily;
                letter-spacing: 0;
                text-transform: none;
                margin: 12px 0 8px 0;
                
                a {
                    color: @blue;
                }
            }
        }
}

.portfolio-meta-list {
    border-color: #cad2d7;
}

.pager {
    &.single-pager {
        border-color: #cad2d7;
    }
}

.type-portfolio {
    .thumbnail {
        a {
            &:before {
                display: none;
            }
        }
    }
}

/* Zoom Icon */
.zoom-icon {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:block;
    background:rgba(0, 0, 0, .5);
    opacity:0;
    cursor:pointer;
    .transition(0.2s);
    
    &:before {
        display: none;
    }
}
.no-rgba .zoom-icon {
    background:url(images/black-opacity-50.png);
}
.zoom-text {
    font-size: 14px;
    font-family: @serifFontFamily;
    text-transform: uppercase;
    text-align: center;
    color: #dad2d1;
    width: 100%;
    height: 14px;
    padding-top: 46px;
    vertical-align: bottom;
    display: inline-block;
    background: url(images/magnify-alt.png) 50% 0 no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -30px;
}        

/*/ Content */



/* #Comments
================================================== */

/* Comment Heading */
.comments-h {  
  padding: 0;
  margin: 0;
  font-size: 24px;
}

/* Comment List */
.comment .comment-body {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    padding: 14px 20px 20px 19px;
    border: 1px solid #ced2d6;
    background: @white;
    zoom: 1;
    
    .extra-wrap {
        clear: none;
    }
  }
  .comment.bypostauthor .comment-body {
    background: @white;
  }
  
 .comment-author {
    float: left;
    margin: 5px 21px 0 0;
  }
  .comment-author .author {
    display: block;
    padding-top: 15px;
    width:80px;
    text-align:left;
    text-transform: uppercase;
    font-weight: bold;
    font-size:11px;
    font-family: @serifFontFamily;
    color: @blue;
    letter-spacing: 1px;
  }

.comment-list ul.children {
    margin-left: 30px;
}

.reply a {
    text-transform: uppercase;
    font-size: 11px;
    font-family: @serifFontFamily;
    text-decoration: underline !important;
    letter-spacing: 1px;
    color: @customGrayDark;
    
    &:hover {
        color: #85929c;
    }
}

/* Comment meta */
.comment-meta {
    font-size:11px;
    font-weight: bold;
    font-family: @serifFontFamily;
    text-transform: uppercase;
    letter-spacing: 1px;
} 

/* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 979px) {
    .comment-list ul.children {
      margin: 0;
    } 
  }
  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {
    .comment-list ul.children {
      margin: 0;
    }  
  }
  
#respond {
    h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }
}

/* Comment form */
#commentform input[type="text"] { 
    margin: 0;
    padding: 6px 10px;
    width: 348px;
  }
 #commentform textarea {
    overflow:auto;
    margin: 0;
    padding: 6px 10px;
    min-height:147px;
    height:147px;
    
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    .ie8 & {
        max-width: 598px;
        min-width: 598px;
        width: 598px;
    }
    
    .ie8 .type-portfolio & {
        max-width: 518px;
        min-width: 518px;
        width: 518px;
    }
    
    .children & {
      .box-sizing(border-box);
      width: 100%;
      max-width: 100%;
      min-width: 100px;
    }
  }
  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 979px) {
    #commentform textarea {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
  }
  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {
    #commentform input[type="text"] {
      width: 100%;
      height: 30px;
      box-sizing: border-box;
    }
    #commentform textarea {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
  } 

/*/ Comments */



/* #Widgets
================================================== */
#sidebar {
    
    padding-top: 3px;
    
    .banners {
        margin-bottom: 60px;
    }
    
    .widget {
        margin-bottom: 60px;
        
        > h3,
        .twitter h3 {
            font-size: 24px;
            margin-bottom: 30px;
        }
        ul {
            margin: 0;
            li {
                padding: 0;
                margin: 0 0 6px 0;
                list-style-type: none;
                
                &:before {
                    width: 4px;
                    height: 7px;
                    background-image: url(images/arrow-sprite.gif);
                    background-repeat: no-repeat;
                    background-position: 0 -24px;
                    content: "";
                    margin: 0 11px 0 0;
                    top: -1px;
                    position: relative;
                    display: inline-block;
                }
                
                &:hover {
                    &:before {
                        background-position: 0 0;
                    }
                }
                
                a {
                    color: @customGrayDark;
                    
                    &:hover {
                        text-decoration: none;
                        color: #8897a1;
                    }
                }
                
            }
            
            &.post-list {
                li {
                    &:before {
                        display: none;
                    }
                    
                    time {
                        color: #85929c;
                        font-family: @serifFontFamily;
                        font-size: 11px;
                        font-weight: bold;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }
                    
                    .post-list_h {
                        font-style: italic;
                        
                        a {
                            color: @blue;
                            font-size: @baseFontSize;
                            
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            
            &.comments-custom {
                li {
                    &:before {
                        display: none;
                    }
                }
            }
            
            &.flickr_list {
                li {
                    &:before {
                        display: none;
                    }
                    
                    .thumbnail {
                        &:hover,
                        &:focus {
                            .box-shadow(none);
                        }
                    }
                }
            }
            
            &.twitter_list {
                margin: 0;
                
                li {
                    margin: 15px 0 0 0;
                    padding-left: 37px;
                    
                    &:before {
                        display: none;
                    }
                    
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
            
            &.social__list {
                li {
                    &:before {
                        display: none;
                    }
                }
            }
            
            ul {
                margin-left: 16px;
                margin-top: 6px;
            }
        }
    }   
}

/* Twitter widget */
.twitter {
    &_preloader {
            position:absolute;
            top:40px;
            left:0;
            padding-left: 0;
            height: 25px;
            background: none;
            line-height:25px;
    }
}
/*/ Twitter widget */

/* Custom Recent Comments */
.comments-custom {
	
	& li {
		overflow:hidden;
		margin:0;
		padding:14px 0 0 0 !important;
		border-bottom:none;
		background:none;
                
                .thumbnail {
                    background-color: @white;
                    padding: 19px;
                    border: 1px solid #ced2d6;
                }
	}
	& li:first-child {
		padding-top:0 !important; 
		border-top:none;
	}
	&_txt {
		padding: 4px 0 0 0;
	}
		&_txt a {
			text-decoration: none;
                        color: @textColor !important;
		}
		&_txt a:hover {
			text-decoration: underline !important;
		}
	&_h {
		margin-bottom:.8em;
                font-size: @baseFontSize;
                font-style: italic;
                text-transform: capitalize;
                color: @blue;
	}
	& time {
		color: #85929c;
                font-family: @serifFontFamily;
                font-size: 11px;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1px;
	}

}
/*/ Custom Recent Comments */

/*/ Widgets */



/* #Shortcodes
================================================== */

/* Posts Grid
-----------------------------------------*/
.posts-grid {
    &.team {
        margin-top: -25px;
        li {
            margin-bottom: 0;
            margin-top: 25px;
            .thumbnail {
                a:before {
                    display: none;
                }
            }
            
            h5 {
                font-size: 13px;
                font-weight: normal;
                font-style: italic;
                font-family: @baseFontFamily;
                letter-spacing: 0;
                text-transform: none;
                margin: 17px 0 9px 0;
                
                a {
                    color: @blue;
                }
            }
        }
    }	
}

/* Recent Posts Shortcodes
---------------------------------------- */
.recent-posts {
    &.services {
        margin: -15px 0 0 0 !important;
        
        @media (max-width: 767px) {
            margin-bottom: 35px !important;
        }
        
        li {
            float: left;
            width: 80px;
            margin: 20px 18px 0 0;
            padding: 0;
            text-align: center;
            
            @media (max-width: 767px) {
                margin-right: 11px;
            }
            
            &:nth-child(6n) {
                margin-right: 0;
                
                @media (max-width: 767px) {
                    margin-right: 11px;
                }
            }
            
            @media (max-width: 767px) {
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
            
            h5 {
                font-size: 11px;
                letter-spacing: 1px;
                margin: 0;
                
                a {
                    color: #85929c;
                }
            }
            
            .thumbnail {
                width: 70px;
                height: 70px;
                padding: 0;
                margin: 0 0 6px 0;
                overflow: hidden;
                border: none;
                float: none;
                display: inline-block;
                .box-shadow(none);
                
                a {
                    &:before {
                        display: none;
                    }
                }
                
                &:hover {
                    img {
                        margin-top: -70px;
                    }
                }
            }
        }
    }
}

.type-services {
    .thumbnail {
        width: 70px;
        height: 70px;
        overflow: hidden;
        .box-shadow(none);
        border: none;
        padding: 0;
        float: left;
        margin-right: 20px;
        
        &:hover {
            img {
                margin-top: -70px;
            }
        }
        
        a:before {
            display: none;
        }
    }
    
    .single-services & {
        .thumbnail {
            &:hover {
                img {
                    margin-top: 0px !important;
                }
            }   
        }
    }
}

/* Services Box
---------------------------------------- */
.service-box {
    overflow:hidden;
    min-height: 20px;
    padding: 0;
    margin-bottom: 0;
    background: none;
    border: none;
    .border-radius(0px);
    .box-shadow(none);
    
    @media (max-width: 767px) {
        text-align: center;
        margin-bottom: 30px;
    }

    & .icon {
            float:left;
            margin:0 15px 10px 0;
            width: 70px;
            height: 70px;
            .border-radius(70px);
            .transition(0.3s);
            
            @media (max-width: 767px) {
                float: none;
                display: inline-block;
                margin-right: 0;
            }
    }
    & h2 {
            overflow:visible;
            margin:0;
            padding: 10px 30px 10px 0;
            font-size: 30px;
            line-height: 24px;
            font-style: italic;
            font-weight: normal;
            text-transform: none;
            letter-spacing: 0;
            
            .ie8 & {
                clear: both;
                padding-right: 0;
            }
            
            @media (max-width: 979px) {
                clear: both;
                padding-right: 0;
            }
    }
    & h5 {
            overflow:hidden;
            margin:0 0 25px;
    }
    &_txt {
        margin-bottom:15px;
        padding-right: 32px;
        font-style: italic;
        color: #85929c;
        clear: both;
        
        @media (max-width: 979px) {
            padding-right: 0;
        }
    }
    & .btn-align {
        text-align:left;
        
        @media (max-width: 767px) {
            text-align: center;
        }
    }
    
    &.blue-style .icon {
        background-color: @blue;
    }
    &.green-style .icon {
        background-color: @green;
    }
    &.red-style .icon {
        background-color: @red;
    }
    &.yellow-style .icon {
        background-color: @yellow;
    }
    
    &:hover {
        .icon {
            background-color: #85929c;
        }
    }
        
}

.service-box__call {
    color: #fff;
    #gradient > .vertical (#037cc7, #1950af);
}
.service-box__call h2 {
    float: none;
    width: 100%;
    color: #fff;
    margin: 10px 0 0;
}
.service-box__call .btn-align {
    padding: 0;
    width: 100%;
    float: none;
}
/*/ Shortcodes */



/* #Footer
================================================== */
.footer {
    border: none;
    padding: 34px 0 52px 0;
    background: #ced2d6;
    
    @media (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.copyright {
    font-family: @serifFontFamily;
    font-weight: bold;
    letter-spacing: 1px;
    color: #85929c;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 0;
    
    a {
        color: #85929c;
    }
    
    .logo_f {
        margin-bottom: -6px;
        display: block;
    }
}

/* Footer text */
.footer-text {
	float: none;
	@media (max-width: 767px) {
		float: none;
		text-align: left;
		margin-bottom: 20px;
	}
}

/* Footer widget */
.footer-widgets {
    padding-top: 4px;	
}

/* Footer navigation */
nav.footer-nav {
    padding: 12px 0;
    ul {
        li {
            a {
                text-transform: uppercase;
                letter-spacing: 1px;
                
                &:hover {
                    color: inherit;
                    text-decoration: underline;
                }
            }
        }
    }
}

/*/ Footer */



/* #Misc
================================================== */

/* Google Map */
.google-map {
    background-color: @white;
    font-size: 0;
    line-height: 0;
}

/* Dropcap */
.dropcap {
    position:relative;
    display: block;
    float: left;
    overflow:hidden;
    margin: 0 20px 20px 0;
    width: 70px;
    height: 70px;
    background: #d2d7da;
    color: #85929c;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: @serifFontFamily;
    font-size: 30px;
    line-height: 70px;
    .border-radius(70px);
}

/* Thumbnail */
.thumbnail {
    border: none;
    padding: 0;
    .box-shadow(none);
    .border-radius(0px);
}
figure {
    &.thumbnail {
        a {
            position: relative;
            display: block;
            
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                border-width: 0px;
                border-color: #bcc2c8;
                border-style: solid;
                .transition(0.3s);
            }
            
            &:hover {
                &:before {
                    border-width: 13px;
                }
            }
        }
    }
}
.featured-thumbnail.large {
    margin-bottom: 1.1em;
}

/* Image styling */
.alignleft {
	float:left;
	margin:5px 30px 10px 0;
	}
.alignright {
	float:right;
	margin:5px 0 10px 30px;
	}

/* Horizontal Rule */
.hr {
    background: #cad2d7;
    
    &.fullwidth {
        position: relative;
        overflow: visible;
        margin: 38px 0 28px 0;
        
        &:before {
            width: 100%;
            position: absolute;
            left: -100%;
            height: 1px;
            background: #cad2d7;
            content: "";
        }
        
        &:after {
            width: 100%;
            position: absolute;
            right: -100%;
            height: 1px;
            background: #cad2d7;
            content: "";
        }
    }
}
.sm_hr {
  background: #cad2d7;
}

.extra-wrap {
    
    .ie8 .home & {
        clear: both;
    }
    
    @media (max-width: 1200px) {
        clear: both;
    }
}

/* Fullwidth Box */
.fullwidth-box {
    background-color: #d5dadd;
    margin: 29px -1000px 0 -1000px;
    padding: 35px 1000px 50px 1000px;
}

/* Newsletter Form */
.nsu-form {
    padding-top: 5px;
    float: right;
    
    @media (max-width: 767px) {float: none;}
    
    p {
        margin-bottom: 2px;
    }
    
    label {
        font-size: 20px;
        font-weight: bold;
        font-family: @serifFontFamily;
        letter-spacing: 2px;
        color: @customGrayDark;
        text-transform: uppercase;
        display: block;
        margin-bottom: 15px;
    }
    
    input[type="text"] {
        background: #e0e4e7;
        border: 1px solid #bdc7cd;
        padding: 4px 12px 5px;
        margin: 0;
        width: 144px;
        
        @media (max-width: 1200px) {
            
        }
        @media (min-width: 768px) and (max-width: 979px) {
            
        }
    }
    
    input[type="submit"] {
        float: right;
        @media (max-width: 767px) {float: none;}
    }
    
    .nsu-error {
        color: @red;
    }
}

/* List */
.list.styled.arrow-list {
    ul {
        li {
            margin: 0 0 6px 0;
            padding: 0;
            
            &:before {
                width: 4px;
                height: 7px;
                background-image: url(images/arrow-sprite.gif);
                background-repeat: no-repeat;
                background-position: 0 -24px;
                content: "";
                margin: 0 11px 0 0;
                top: -1px;
                position: relative;
            }
            
            &:hover {
                &:before {
                    background-position: 0 0;
                }
            }
            
            a {
                color: @customGrayDark;
                
                &:hover {
                    text-decoration: none;
                    color: #8897a1;
                }
            }
        }
    }
}

/* Button */
.btn {
    text-shadow: none;
    text-transform: uppercase;
    font-size: 11px;
    font-family: @serifFontFamily;
    text-decoration: underline;
    letter-spacing: 1px;
    .border-radius(0px);
    
    &-link {
        padding: 0;
        color: @customGrayDark;
        text-decoration: underline !important;
        .transition(0.3s);
        
        &:hover {
            color: #85929c;
        }
    }
    
    &:hover {
        text-decoration: none;
    }
}

/* Forms */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    .border-radius(0px);
    .box-shadow(none);
    border: 1px solid #ced2d6;
    padding: 5px 10px 6px;
    color: @textColor;
    
    &:focus {
        outline: none;
        border-color: @blue;
        .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(70,135,184,.3)");
    }
}

input[type="text"]:-moz-placeholder {
    color: @orange;
}

input[type="submit"],
input[type="reset"] {
    border: none;
    background: none;
    padding: 0;
    height: 31px;
    color: @customGrayDark;
    font-size: 11px;
    font-family: @serifFontFamily;
    text-transform: uppercase;
    text-decoration: underline !important;
    letter-spacing: 1px;
    .box-shadow(none);

    &:hover,
    &:focus {
        color: #85929c;
        background: none;
        .box-shadow(none);
    }
}

/* Phone */
.phone {
    text-transform: uppercase;
    color: @customGrayDark;
    padding: 0 0 0 24px;
    background-repeat: no-repeat;
    background-position: 0 8px;
    background-image: url(images/icon-phone.png);
    display: block;
    
    @media (min-width: 1200px) {
        background-position: 0 12px;
    }
    
    @media (min-width: 768px) and (max-width: 979px) {
        background-position: 0 4px;
    }
    
    @media (max-width: 767px) {
        padding-bottom: 30px;
    }
    
    .header & {
        margin-top: 34px;
        
        @media (max-width: 767px) {
            text-align: left;
            display: inline-block;
        }
    }
    
    b {
        font-family: @serifFontFamily;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 1px;
        display: block;
        color: #949a9f;
        margin: 0 0 -2px 0;
        
        @media (min-width: 1200px) {
            font-size: 30px;
            line-height: 36px;
            letter-spacing: 2px;
        }
        
        @media (min-width: 768px) and (max-width: 979px) {
            font-size: 20px;
            line-height: 24px;
        }
        
        @media (max-width: 767px) {
            font-size: 30px;
            line-height: 36px;
            letter-spacing: 2px;
        }
        
        .ie8 & {
            letter-spacing: 0;
        }
    }
}

/* Back to Top */
/* arrow icon (span tag) */
#back-top span {
	margin-bottom: 0;
	width: 43px;
	height: 23px;
	background: url(images/up-arrow.gif) no-repeat center center !important;
	.transition(1s);
}
/*// Back to Top */

/*/ Misc */


@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";