@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?sbg7qk');
  src:  url('../fonts/icomoon.eot?sbg7qk#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?sbg7qk') format('truetype'),
  url('../fonts/icomoon.woff?sbg7qk') format('woff'),
  url('../fonts/icomoon.svg?sbg7qk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drop-down-arrow:before {
  content: "\e900";
}
.icon-facebook-letter-logo:before {
  content: "\e901";
}
.icon-twitter-logo-silhouette:before {
  content: "\e902";
}
.icon-time:before {
  content: "\e903";
}
.icon-placeholder:before {
  content: "\e904";
}
