body {
  text-rendering : optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: $primary-font;
  color: $primary-text-color;
  font-size: 16px;
}
a {
  color: $primary-special-text;
}
.bg-img {
  background: no-repeat center center/cover;
}

h1, h2, h3 {
  font-weight: $primary-header-weight;
}
.primary-bg {
  background-color: $primary-bg-color;
}

.section-title {
  font-size: 33px;
  font-weight: $primary-header-weight;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;

  &.outline-bottom {
    &:after {
      margin: 25px auto 0;
      content: '';
      display: block;
      width: 57px;
      height: 4px;
    }
  }
  &.outline-primary {
    &:after {
      background-color: $blue;
    }

  }
  &.outline-white {
    &:after {
      background-color: $white;
    }
  }
}
.pt-50 {
  padding-top: 50px;
}
.ptb-80 {
  padding: 80px 0;
}

ul {
  @extend .list-unstyled;
  li {

  }
}

[class^="hvr-"] {
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

  &:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  &:hover, &:focus, &:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);

    &:before {
      opacity: 1;
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
    }
  }
}
.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;

  &-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  &--collapse {
    .hamburger-inner {
      top: auto;
      bottom: 0;
      transition-delay: .13s;
      transition-timing-function: cubic-bezier(.55,.055,.675,.19);
      transition-duration: .13s;

      &:before {
        transition: top .12s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
      }
      &:after {
        top: -20px;
        transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,opacity .1s linear;
      }
    }
    &.is-active {
      .hamburger-inner {
        transition-delay: .22s;
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: translate3d(0,-10px,0) rotate(-45deg);
        background-color: #fff;
        &:before, &:after {
          background-color: #fff;
        }
        &:before {
          top: 0;
          transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,transform .13s cubic-bezier(.215,.61,.355,1) .25s;
          transform: rotate(-90deg);
        }
        &:after {
          top: 0;
          transition: top .2s cubic-bezier(.33333,0,.66667,.33333),opacity .1s linear .22s;
          opacity: 0;
        }
      }
    }
  }
  &-inner {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #fff;
    top: 50%;
    display: block;
    margin-top: -2px;

    &:before,&:after {
      position: absolute;
      width: 40px;
      height: 4px;
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform;
      border-radius: 4px;
      background-color: #fff;
      display: block;
      content: "";
    }
    &:before {
      top: -10px;
    }
    &:after {
      bottom: -10px;
    }
  }
}