.btn {
  border-radius: 0;
  border-width: 2px;
}
.btn-link {
  font-weight: $primary-header-weight;
  font-size: 17px;
  text-transform: capitalize;
}
.nav-link {
  &.dropdown-toggle {
    &:after {
      display: none;
    }
    .icon-cheveron-down {
      position: relative;
      z-index: 9;
      margin-left: 15px;
    }
  }

}
.dropdown-toggle {
  &:after {
    margin-left: 15px;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-bottom: 0;
    border-left: 6px solid transparent;
  }
}
.icon-cheveron-down {
  @extend .dropdown-toggle;
}