// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

label {

}
input, select,.custom-select, .form-control {
  border-radius: 0;
  height: 45px;
}

.form-group {
  margin-bottom: 20px;
}

.hr {
  border-color: #ececec;
  margin: 50px 0 40px;
}